/* HomePage.css */

.hero-image {
  background-image: url("../assets/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 87vh;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  min-width: 60vh;
}

.hero-content>h1 {
  margin-bottom: 20px;
  color: wheat;
}

.hero-content>p {
  color: wheat;
}

.hero-content>button {
  margin-top: 10px;
  color: wheat;
}