/* LoginPage.css */
.login-container {
    height: 60vh;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  