/* RegisterPage.css */
.register-container {
    
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  