/* VolcanoDetails.css */

/* Volcano details container */
.volcano-details {

  background-color: #f8f9fa;
  /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

/* List of volcano details */
.volcano-details ul {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Individual list item styles */
.volcano-details ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #343a40;
}