/* VolcanoListPage.css */
.volcano-list-container {
    height: 60vh;
    width: '100%';
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  .ag-theme-alpine {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  