/* VolcanoListPage.css */
.volcano-list-container {
    height: 82vh;
    width: '100%';
    background-color: #f8f9fa;
 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

  }
  
  h2 {
    color: #333;
  }
  





